<div class="container">
    <div class="container">
        <h2>Comprobante</h2>
        <div class="row rows-col-2">
            <div class="col">
                <div class="col">
                    <h3 class="text-start">Factura</h3>
                    <p class="text-start">{{fletyResp.numFactura}}</p>
                </div>
                <div class="col">
                    <h3 class="text-start">Fecha</h3>
                    <p class="text-start">{{fletyResp.fechaActualizacion}}</p>
                </div>
                <div class="col">
                    <h3 class="text-start">Cliente</h3>
                    <p class="text-start">{{fletyResp.nomCliente}}</p>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <h3 class="text-start">Cédula</h3>
                    <p class="text-start">{{fletyResp.codCliente}}</p>
                </div>
                <div class="col">
                    <h3 class="text-start">Teléfono</h3>
                    <p class="text-start">{{fletyResp.numeroTelefono}}</p>
                </div>
            </div>
           
            
           
        </div>
    </div>
    
    <div class="col">
        <h3 class="text-start">Dirección</h3>
        <p class="text-start">{{fletyResp.direccion}}</p>
    </div>
    <div class="col">
        <div class="row">

            <div class="col">
                <button href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" routerLink="/despacho">Regresar</button>
            </div>
            <div class="col"><button href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" 
                (click)="generarPdf(fletyResp.numFactura,fletyResp.idSucursal)">Imprimir</button></div>
        </div>
    </div>
</div>
